====================
Temp/
Library/
Logs/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins.meta
Assets/Plugins/Editor.meta

====================
ExportedObj/
obj/
.vs/
.vscode/
.idea/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

====================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

====================
Builds/
